#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  display:table;
}

.citiesDivStyle{
  padding-left: 35%;
  padding-right: 35%;

}

#cities {
  list-style-type: none;
  padding: 0;
  display:table;
  margin:0px auto 0px auto;
  width: 100%;
}

#cities li a {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #eaf2ff;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: center;
}

#cities li a:hover:not(.header) {
  background-color: #eee;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a{
  position: center;
}

#weather{
  display: none;
  text-align:center;
}

.centralize{
  text-align:center;
}

.inputStyle{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
